{% extends "base.html" %}

{% block content %}

<form action="." method="POST">
{% csrf_token %}

    {% if new_mode %}
    <label>Test Name:</label><input id = "Test Name" name = "test_name" type="text"></input>
    {% endif %}
    <label>Story ID:</label><input id = "story_id" name = "story_id" type="text" value = "{{ test.story_id }}"></input>
    <label>Summary:</label><input id = "summary" name = "summary" type="text" value = "{{ test.summary }}"></input>
    <label>Steps:</label><textarea id = "steps" name = "steps" >{{ test.steps }}</textarea>
    <label>Expected Result:</label><textarea id = "expected_result" name = "expected_result" >{{ test.expected_result }}</textarea>
    <label>Priority</label><input id = "priority" name = "priority" type="text" value = "{{ test.priority }}"></input>
    <label>Automated Test ID</label><input id = "automated_test_id" name = "automated_test_id" type="text" value = "{{ test.automated_test_id }}"></input>
    <input type="submit" name = "edit" value = "Edit">
    
    <div>
    <input type="submit" name = "delete" value = "Delete">
    </div>
</form>

{% endblock content %}